 		 border: 0;
    	}
    
    	.box{
    		background-color:#2ECC71;
    		border:1px solid gray;
    	}
    	
    	#topContainer{
    		background-image:url("image.png");
    		background-color:lightblue;
    		width:100%;
    		background-size:cover;
    	}
    	
    	#topRow{
    		margin:100px;
    		padding-right:70px;
    		text-align:center;
    		font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
    	}
    	
    	#missionStatement{
    		background-color:pink;
    		width:100%;
    		background-size:cover;
    	}
		
		#schedule {
			background-color: #00487C;
			background-size:cover;
			width:100%;
		}
		
		#faq {
			background-color: #4BB3FD;
			background-size:cover;
			width:100%;
		}
		
		#sponsors {
			background-color: #3E6680;
			background-size:cover;
			width:100%;
		}
		
		#socialMedia {
			background-color: #0496FF;
			background-size:cover;
			width:100%;
		}
		
		.navbar-inverse .nav > li > a:hover{
			color:red;
		}
		
		.navbar-inverse .nav > .active > li > a{
			color:red;
		}
		
    	.centered{
    		text-align:center;
    		color:#FFFFFF;
    		padding:50px;
    		font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
    	}
    	
    	#appPicture{
    		background-image:url("iphoneimage.jpg");
    		width:100%;
    		background-size:cover;
    	}
    	
    	span{
    		color:#F2F3F4;
    		font-weight:bold;
    	}	
    	
    	input{
    		margin-right:20px;
    	}
    	
    	li{
    		font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
    	}
    	
    	#thing{
    		background-color:#F2F3F4;
    		border: 0;
    	}
    	
    	#title{
    		color:#2C3E50;
    		font-family: "PlayfairDisplay";
    	}
    	
    	#userText{
    		font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
    		color: black;
    		margin-left:7px;
    		position:relative;
    		bottom:1px;
    	}
    	
    	#userText2{
    		font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
    		color: black;
    		margin-left:7px;
    		position:relative;
    		bottom:1px;
    	}
    	
    	#aboutText{
    		font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
    		color: white;
    		margin-left:7px;
    		position:relative;
    		bottom:1px;
    	}
    	
    	#worksText{
    		font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
    		color: black;
    		margin-left:7px;
    		position:relative;
    		bottom:1px;
    	}
